.shop-container-style{
    display: grid;
    grid-template-columns: 4fr 1fr;      /*4fr means jototuku jaiga asey tar 4 vag nibey*/
    margin-left: 25px;
    
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:45px;
    margin-top: 100px;
    
}

.cart-container{
    border: 1px solid #95A0A7 ;
    margin-left: 10px;
    background-color: rgba(255, 153, 0, 0.3);
}

.review-btn-style{
    background-color: rgb(1, 22, 22);
    color: white;
    border-radius: 8px;
    border:1px solid rgb(9, 95, 95);
    padding: 14px;
    width: 90%;
    cursor: pointer;
}

/* to make responsive with devices */
@media screen and (max-width:1100px) {
    .products-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
.pagination .selected{
    background-color: orange;
    color: white;
    

}
.pagination button{
    margin-right: 10px;
    background-color: white;
    border: 1px solid orange;

}