.cart{
    
    position: sticky;
    top:0;  /*top 0 tey atkai thakbey*/
}
.order-summary-style{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #1C2B35;
    text-align: center;
}
.cart-info{
    padding: 15px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.clear-btn-style{
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: rgb(26, 119, 88);
    color: white;
    /* btn ar width 90% nilam */
    width: 90%;  
}